@model IEnumerable<DJBlogToDo.Models.Todo>

@{ ViewBag.Title = "Index"; }

<h2>Todos</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DueDate)
    </td>
    <td>
        @if (item.Status == "Active")
        {
            <span class="label label-primary">Active</span>}
        @if (item.Status == "Pending")
        {
            <span class="label label-danger">Pending</span>}
        @if (item.Status == "Completed")
        {
            <span class="label label-success">Completed</span>}
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>}

</table>
